<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @profile.fullname %>
</p>

<p>
  <strong>Github username:</strong>
  <%= @profile.github_username %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
