<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @comment.filename %>
</p>

<p>
  <strong>Commit:</strong>
  <%= @comment.commit %>
</p>

<p>
  <strong>Title:</strong>
  <%= @comment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @comment.description %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
