<div class="row">
    <% if @contents['status'] == '200' %>
    <div class="col-3">
      <pre id="playlist">
<button class="btn btn-primary btn-sm btn-round" id="play"><%= fa_icon "play" %></button> <button class="btn btn-primary btn-sm btn-round" id="stop"><%= fa_icon "stop" %></button> <button class="btn btn-primary btn-sm btn-round" id="step-forward"><%= fa_icon "step-forward" %></button> <button class="btn btn-primary btn-sm btn-round" id="step-backward"><%= fa_icon "step-backward" %></button>
<br/>
<% @contents['message'].each do |c| %>
<% if c['id'] == 0 %>
<a href="#" class="highlighed_link"><%= c['timestamp'][0,16] %>    <%= c['author']['login'] %>    <%= c['sha'][0,6] %></a>
<% else %>
<a href="#"><%= c['timestamp'][0,16] %>    <%= c['author']['login'] %>    <%= c['sha'][0,6] %></a>
<% end %>
          <% end %>
      </pre>
    </div>
    <div class="col-9 content-display">
      <% @contents['message'].each do |c| %>
        <% if c['id'] == 0 %>
          <pre class="content" id="highlighted-content"><% else %><pre style="display:none" class="content"><% end %><%= c['content'].strip() %></pre>
      <% end %>
    </div>
  <% else %>
    <div class="col-12">
      <%= @content['message'] %>
    </div>
  <% end %>
<div>