<div class="row">
    <% if @contents['status'] == '200' %>
    <div class="col-3">
      <pre><button class="btn btn-primary btn-sm" id="play"><%= fa_icon "play" %> Play Now</button><br/>
<% @contents['message'].each do |c| %>
<% if c['id'] == 0 %>
<strong><a href="#"><%= c['timestamp'][0,16] %>    <%= c['author']['login'] %>    <%= c['sha'][0,6] %></a></strong>
<% else %>
<a href="#"><%= c['timestamp'][0,16] %>    <%= c['author']['login'] %>    <%= c['sha'][0,6] %></a>
<% end %>
          <% end %>
      </pre>
    </div>
    <div class="col-9">
      <% @contents['message'].each do |c| %>
        <% if c['id'] == 0 %>
          <pre><% else %><pre style="display:none;"><% end %><%= c['content'].strip() %></pre>
      <% end %>
    </div>
  <% else %>
    <div class="col-12">
      <%= @content['message'] %>
    </div>
  <% end %>
<div>